$primary-color: #7c5dfa;
$primary-hover: #9277ff;
$secondary-color: #373b53;
$tertiary-color: #dfe3fa;
$red-color: #ec5757;
$white-color: #f9fafe;
$black-color: #252945;

.root {
  border: none;
  text-align: center;
  border-radius: 24px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  white-space: nowrap;

  &.isPaddingAllowed {
    padding: 0 8px;
  }

  &.justifyContentAllowed {
    justify-content: center;
  }
}
.extraLarge {
  width: 100%;
  height: 48px;
}
.largeSize {
  width: 150px;
  height: 48px;
}

.mediumSize {
  width: 131px;
  height: 48px;
}

.smallSize {
  width: fit-content;
  height: 48px;
  padding-right: 14px;
}

.primary,
.secondary,
.tertiary,
.red,
.white,
.black {
  & {
    @extend .root;
  }
}

.primary {
  background: $primary-color;
  color: #fff;
  &:hover {
    background: $primary-hover;
  }
}

.secondary {
  background: $secondary-color;
  &:hover {
    background: darken($secondary-color, 10%);
  }
}

.tertiary {
  color: $tertiary-color;
  background: $secondary-color;
  &:hover {
    background: darken($tertiary-color, 10%);
  }
}

.red {
  color: #fff;
  background: $red-color;
  &:hover {
    background: darken($red-color, 10%);
  }
}

.white {
  background: $white-color;
  color: #7e88c3;
  &:hover {
    background: darken($white-color, 10%);
  }
}

.black {
  background: $black-color;
  color: $tertiary-color;
  &:hover {
    background: #fff;
  }
}
