// ---------------------------------  COLORS ---------------------------------- //
$blue_dark: #373b53;
$dark-purple: #7c5dfa;
$light-purple: #7e88c3;
$light-black: #0c0e16;
$orange: #ff8f00;
$green: #33d69f;
