* {
  box-sizing: border-box;
  font-family: var(--font-league);
  margin: 0;
  padding: 0;
}
.root {
  width: 100%;
  padding: 24px;
  @media (min-width: 730px) {
    padding: 0px;
    max-width: 730px;
    margin: 0 auto;
  }
}
